/* Bunya Font Faces */
@font-face {
  font-family: 'Bunya';
  src: url('../bunya-personal/Bunya-Regular_PERSONAL.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bunya';
  src: url('../bunya-personal/Bunya-Bold_PERSONAL.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bunya';
  src: url('../bunya-personal/Bunya-Black_PERSONAL.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bunya';
  src: url('../bunya-personal/Bunya-Light_PERSONAL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bunya';
  src: url('../bunya-personal/Bunya-Thin_PERSONAL.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
